streamlit
langchain
openAI
#langchain-community
#langchain_core
langchain_core.prompts 
langchain_community.chat_models
langchain.output_parsers
langchain_core.output_parsers
pydantic
langgraph

#langchain_core.runnables
#langchain_core.tools
# Using LangChain solution and creact agents
#langgraph.prebuilt
#langchain_core.pydantic_v1
# app.py
#langchain.chat_models
