streamlit
langchain
openAI
langchain_core.prompts 
langchain_community.chat_models
langchain.output_parsers
langchain_core.output_parsers
pydantic
langchain_core.runnables
langchain_core.tools

# Using LangChain solution and creact agents
langgraph.prebuilt
from langchain_core.pydantic_v1
# app.py
langchain.chat_models
